<mat-toolbar color="primary" class="navbar">
    <a href="https://hacktoberfest.digitalocean.com/" target="_blank"><button mat-button class="brand">
        <img
            src="https://hacktoberfest.digitalocean.com/assets/h-light-833607d3b00215da03d184b4123e92b82478d565ab73161880dfe02f04bbeddc.svg">
        &nbsp;&nbsp;
        Celebrating Hacktoberfest 2020!
    </button></a>
    <span class="nav-spacer"></span>
    <div>
        <button mat-button color="primary" routerLink="/">
            <mat-icon aria-hidden="false" aria-label="home" color="primary">home</mat-icon> Home
        </button>
        <button mat-button color="primary" routerLink="/contributors">
            <mat-icon aria-hidden="false" aria-label="users" color="primary">supervised_user_circle</mat-icon> Contributors
        </button>
    </div>

</mat-toolbar>