<div>
    <h1>{{technology.name}} - Liked by</h1>
    <hr />
    <div *ngFor="let like of technology.likes">
        <a [href]="like.gitProfileURL">
        <mat-card class="like-card">
            <mat-card-header>
              <div mat-card-avatar class="header-image" [style.background-image]="'url(' + like.gitAvatarURL + ')'">
              </div>
              <mat-card-title>{{like.fullname}}</mat-card-title>
              <mat-card-subtitle>{{like.gitProfileURL}}</mat-card-subtitle>
            </mat-card-header>
            
          </mat-card>
        </a>
    
       
    </div>
</div>
